{{define "title"}}{{.Title}}{{end}}
{{define "body"}}
    <h2>{{.Title}}</h2>
    <div class="stories">
        {{range .Story}}
            <p>{{.}}</p>
        {{end}}
    </div>
    <div class="options">
        {{range .Options}}
            <button class="option" onclick="window.location.href = '/{{.DestArc}}'">{{.Text}}</button>
            <br/>
            <br/>
            {{else}}
            <button class="option" onclick="window.location.href = '/ending'">Okay</button>
        {{end}}
    </div>
{{end}}